In [21]:
import numpy as np
import pandas as pd
from datetime import datetime

In [22]:
df_BTC = pd.read_csv('../data/raw/BTC-USD (2014-2024).csv')

In [23]:
df_ETH = pd.read_csv("../data/raw/ETH-USD (2017-2024).csv")

In [24]:
df_BTC.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3413.000000,3413.000000,3413.000000,3413.000000,3413.000000,3.413000e+03
mean,14755.235325,15099.657349,14384.058077,14765.995800,14765.995800,1.662879e+10
std,16297.740573,16687.803094,15860.348001,16299.494608,16299.494608,1.907347e+10
min,176.897003,211.731003,171.509995,178.102997,178.102997,5.914570e+06
25%,922.067017,937.525024,910.416992,921.789001,921.789001,1.689680e+08
50%,8290.759766,8470.988281,8110.770020,8293.868164,8293.868164,1.171838e+10
75%,24373.457031,25020.458984,23927.910156,24402.818359,24402.818359,2.696772e+10
max,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,3.509679e+11

In [25]:
df_BTC.shape

(3413, 7)

In [26]:
df_BTC.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
1,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
3,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
4,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600

In [27]:
df_BTC['Date'] = pd.to_datetime(df_BTC['Date'])

In [28]:
df_BTC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3413 entries, 0 to 3412
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3413 non-null   datetime64[ns]
 1   Open       3413 non-null   float64
 2   High       3413 non-null   float64
 3   Low        3413 non-null   float64
 4   Close      3413 non-null   float64
 5   Adj Close  3413 non-null   float64
 6   Volume     3413 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 186.8 KB